{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-spread",
    "react-hot-loader/babel"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": "10" }
      }
    ],
    "@babel/preset-react",
  ],
  "env": {
    "dev": { "retainLines": true },
    "prod": {
      "compact": true,
      "minified": true
    },
  }
}
